@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

h1{
     /*background: pink;*/
     margin-top: -1rem;
     font-family: 'Montserrat Subrayada', sans-serif;
     font-size: 14vw;
     text-align: center;
     color: #000;   
}
.handle{
    text-align: center;
    font-size:3rem;
    color: #555;
    font-family: 'Oleo Script', cursive;
}
.about {
    font-size:3rem;
    color: #555;
    font-family: 'Oleo Script', cursive;
}
.navigater{
    text-align: center;
    /*background: pink;*/
     font-family: 'Oleo Script', cursive;
    
}
h5{
    font-size:2rem;
}
h5:hover{
    color: #000!important;
    cursor: pointer;
}
.inactive{
     color: #888;
}

.active{
    color: #000;
}


.fa {

    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}




/* Set a specific color for each brand */

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-github{
    color: #000;
}
.fa-medium{
    color: #02b875;
    background: white;
}
.fa-linkedin{
    color: #0077B5;
    background: #fff;
}
.fa-android {
  color:   #74C043;
}
.fa-globe{
    color:#53B1E6;
}
.fa-cogs{
    color:#669F5B;
}
.fa-codepen{
    color: #000;
}
.fa-google-plus{
    color: #d34836;
}
.fa-facebook{
    color: 	#3b5998;
}
.fa-envelope{
    color: #ea4335;
}
.fa{
    cursor: pointer;
}

.space{
    margin-top: 2rem;
}
a {
    
    color: #888;
}
a:hover{

    text-decoration: none;
    color: #000;
     
}
    
a:visited {  

   text-decoration: none;
   color: red;
 } 
a:active{
    text-decoration: none;
    color: #000;
}

#android-project {
    left: -60vw;
    top: -70vw;
    border-radius: 50%;
    background: red;
    width: 150vw;
    height: 150vw;
    position: absolute;
    opacity: 0.80;
    -webkit-user-select: none;
    user-select: none;
}  